
.section-padding {
	padding: 100px 0;
}
.carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 220px;
	z-index: 2;
}
.carousel-caption h5, h1 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}
.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}


.icon {
	width: 4rem;
	height: 4rem;
	background-color: rgb(41, 49, 59);
	border-radius: 5rem;
	border: 5rem;
	
}

.icon i{
	font-size: 2rem;
	text-align: center;
	justify-content: center;
	align-items: center;
	
}
.area-1 .icon {
	position: relative;
}

.container .email-icon .icon{
	position: relative;
}

.icon i{
	position: absolute;
	top: 50%;
	right: 50%;	
	transform: translate(50%,-50%);
	
  }

.area-1:hover {
	box-shadow: rgba(162, 162, 177, 0.658) 0px 7px 29px 0px;
	transition: 0.7s ease-in-out;
	cursor: pointer;
}